In [2]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np 
import seaborn as sns

In [3]:
df = pd.read_csv('Cleaned_data.csv')

In [ ]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,age,python,R,spark,aws,excel,Job_simp,seniority,num_comp,desc_len
0,0,Data Scientist,53-91,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,...,49,1,0,0,0,1,data scientist,na,1,2536
1,1,Healthcare Data Scientist,63-112,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,...,38,1,0,0,0,0,data scientist,na,1,4783
2,2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,...,12,1,0,1,0,1,data scientist,na,1,3461
3,3,Data Scientist,56-97,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,...,57,1,0,0,0,0,data scientist,na,3,3883
4,4,Data Scientist,86-143,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,...,24,1,0,0,0,1,data scientist,na,3,2728

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 742 entries, 0 to 741
Data columns (total 32 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         742 non-null    int64
 1   Job Title          742 non-null    object
 2   Salary Estimate    742 non-null    object
 3   Job Description    742 non-null    object
 4   Rating             742 non-null    float64
 5   Company Name       742 non-null    object
 6   Location           742 non-null    object
 7   Headquarters       742 non-null    object
 8   Size               742 non-null    object
 9   Founded            742 non-null    int64
 10  Type of ownership  742 non-null    object
 11  Industry           742 non-null    object
 12  Sector             742 non-null    object
 13  Revenue            742 non-null    object
 14  Competitors        742 non-null    object
 15  hourly             742 non-null    int64
 16  employer_provided  742 non-null    int64
 17  min_salary         742 non-null    int64
 18  max_salary         742 non-null    int64
 19  avg_salary         742 non-null    float64
 20  job_state          742 non-null    object
 21  same_location      742 non-null    int64
 22  age                742 non-null    int64
 23  python             742 non-null    int64
 24  R                  742 non-null    int64
 25  spark              742 non-null    int64
 26  aws                742 non-null    int64
 27  excel              742 non-null    int64
 28  Job_simp           742 non-null    object
 29  seniority          742 non-null    object
 30  num_comp           742 non-null    int64
 31  desc_len           742 non-null    int64
dtypes: float64(2), int64(15), object(15)
memory usage: 185.6+ KB

In [10]:
df['seniority'].unique()

array(['na', 'senior', 'jr'], dtype=object)

In [33]:
df_model = df[['avg_salary','Size','Type of ownership','spark',
        'R','age','python','excel','Job_simp','aws','seniority']]

In [34]:
df_model.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 742 entries, 0 to 741
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   avg_salary         742 non-null    float64
 1   Size               742 non-null    object
 2   Type of ownership  742 non-null    object
 3   spark              742 non-null    int64
 4   R                  742 non-null    int64
 5   age                742 non-null    int64
 6   python             742 non-null    int64
 7   excel              742 non-null    int64
 8   Job_simp           742 non-null    object
 9   aws                742 non-null    int64
 10  seniority          742 non-null    object
dtypes: float64(1), int64(6), object(4)
memory usage: 63.9+ KB

In [36]:
df_model.head()

,avg_salary,Size,Type of ownership,spark,R,age,python,excel,Job_simp,aws,seniority
0,72.0,501 to 1000 employees,Company - Private,0,0,49,1,1,data scientist,0,na
1,87.5,10000+ employees,Other Organization,0,0,38,1,0,data scientist,0,na
2,85.0,501 to 1000 employees,Company - Private,1,0,12,1,1,data scientist,0,na
3,76.5,1001 to 5000 employees,Government,0,0,57,1,0,data scientist,0,na
4,114.5,51 to 200 employees,Company - Private,0,0,24,1,1,data scientist,0,na

In [30]:
df_model['Size'].unique()

array(['501 to 1000 employees', '10000+ employees',
       '1001 to 5000 employees', '51 to 200 employees',
       '201 to 500 employees', '5001 to 10000 employees',
       '1 to 50 employees', 'Unknown', '-1'], dtype=object)

In [31]:
df_model['Type of ownership'].unique()

array(['Company - Private', 'Other Organization', 'Government',
       'Company - Public', 'Hospital', 'Subsidiary or Business Segment',
       'Nonprofit Organization', 'Unknown', 'College / University',
       'School / School District', '-1'], dtype=object)

In [38]:
df_model['Job_simp'].unique()

array(['data scientist', 'na', 'analyst', 'data engineer', 'director',
       'manager', 'mle'], dtype=object)

In [39]:
df_model['seniority'].unique()

array(['na', 'senior', 'jr'], dtype=object)

In [40]:
# get dummy data 
df_dum = pd.get_dummies(df_model)

In [41]:
df_dum.head()

,avg_salary,spark,R,age,python,excel,aws,Size_-1,Size_1 to 50 employees,Size_10000+ employees,...,Job_simp_analyst,Job_simp_data engineer,Job_simp_data scientist,Job_simp_director,Job_simp_manager,Job_simp_mle,Job_simp_na,seniority_jr,seniority_na,seniority_senior
0,72.0,0,0,49,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
1,87.5,0,0,38,1,0,0,0,0,1,...,0,0,1,0,0,0,0,0,1,0
2,85.0,1,0,12,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
3,76.5,0,0,57,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
4,114.5,0,0,24,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [42]:
X = df_dum.drop('avg_salary', axis= 'columns')
y = df_dum['avg_salary']

In [44]:
X.head()

,spark,R,age,python,excel,aws,Size_-1,Size_1 to 50 employees,Size_10000+ employees,Size_1001 to 5000 employees,...,Job_simp_analyst,Job_simp_data engineer,Job_simp_data scientist,Job_simp_director,Job_simp_manager,Job_simp_mle,Job_simp_na,seniority_jr,seniority_na,seniority_senior
0,0,0,49,1,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
1,0,0,38,1,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
2,1,0,12,1,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
3,0,0,57,1,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,1,0
4,0,0,24,1,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [45]:
# train test split 
from sklearn.model_selection import train_test_split

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [47]:
#Lasso model

from sklearn.linear_model import Lasso
from sklearn.model_selection import cross_val_score

In [48]:
lm_l = Lasso(alpha=.13)
lm_l.fit(X_train,y_train)
np.mean(cross_val_score(lm_l,X_train,y_train, scoring = 'neg_mean_absolute_error', cv= 3))

-21.381118841920536

In [ ]:
#RandomForestRegressor model

from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()

np.mean(cross_val_score(rf,X_train,y_train,scoring = 'neg_mean_absolute_error', cv= 3))

In [50]:
from sklearn.model_selection import RandomizedSearchCV

In [82]:
 #Randomized Search CV

# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 400, stop = 1200, num = 5)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(5, 30, num = 6)]
# max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10, 15, 100]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 5, 10,15,20]

In [83]:
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf}

print(random_grid)

{'n_estimators': [400, 600, 800, 1000, 1200], 'max_features': ['auto', 'sqrt'], 'max_depth': [5, 10, 15, 20, 25, 30], 'min_samples_split': [2, 5, 10, 15, 100], 'min_samples_leaf': [1, 2, 5, 10, 15, 20]}

In [84]:
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 10, cv = 5, verbose=2, n_jobs = 1)

In [ ]:
rf_random.fit(X_train,y_train)

In [86]:
rf_random.best_params_

{'max_depth': 15,
 'max_features': 'sqrt',
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'n_estimators': 1000}

In [87]:
rf_random.score(X_test,y_test)

0.7310442870729179

In [88]:
predictions = rf_random.predict(X_test)

In [70]:
from sklearn import metrics

In [93]:
print('MAE:', metrics.mean_absolute_error(y_test, predictions))

MAE: 13.699927593312767

This is the maximum model accuracy I am able to achieve with difference of 17k

In [90]:
import pickle
file = open('Salary_predictions.pkl', 'wb')
pickle.dump(rf_random, file)